<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Price Forecast</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<p><img src="../img/poster.jpg" alt="Health Insurance"></p>

<h1>Health Insurance Price Forecast</h1>

<p>Welcome to the Health Insurance Price Forecast. In this project, we used linear regression to predict how much would someone pay in insurance using some variables related to personal information, such as age and gender.</p>

<p>You can make a POST request to the URL https://insurance-forecast.herokuapp.com/predict/ using the following json as an example:</p>

<p>
    {
        "age": 19,
        "sex": "female",
        "bmi": 25,
        "children": 1,
        "smoker": "no",
        "region": "northwest"
    }
</p>
<p><a href="link">Click here to go to the Streamlit App</a>.</p>

</body>
</html>